<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" routerLink="/">
    <i class="fa fa-shopping-bag"> </i>Eshop</a>

  <button (click)="toggleNavigation()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart">Cart</a>
      </li>

      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>

      <li *ngIf="user$ | async as user;else anonymousUser" ngbDropdown class="nav-item">
        <button class="btn btn-default" id="mainMenu" ngbDropdownToggle>
          {{user.displayName}}
        </button>
        <div ngbDropdownMenu aria-labelledby="mainMenu">
          <button class="dropdown-item" routerLink="my/orders">My Orders</button>
          <button class="dropdown-item" routerLink="admin/products">Manage products</button>
          <button class="dropdown-item" routerLink="admin/orders">Manage Orders</button>
          <button class="dropdown-item" (click)="logout()">Log Out</button>
        </div>
      </li>
    </ul>

  </div>
</nav>