<div *ngIf="(products$|async)?.length">
  <div class="container">
    <div class="row">
      <div class="col-3 mb-4" *ngFor="let p of products$ | async">
        <div class="card">
          <img class="card-img-top" src="{{p.url}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{p.title}}</h4>
            <h6>
              <span class="badge badge-pill badge-success">
                {{p.category}}
              </span>
            </h6>
            <p class="card-text">{{p.price | currency}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>