<div class="card">
  <img class="card-img-top" src="{{product.url}}" alt="">
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <h6>
      <span class="badge badge-pill badge-success">
        {{product.category}}
      </span>
    </h6>
    <p class="card-text">{{product.price | currency}}</p>
  </div>
  <div class="card-footer">
    <button *ngIf="!getQuantity()" (click)="addToCart(product)" class="btn btn-default btn-block">Add to cart</button>
    <div *ngIf="getQuantity()" class="row">
      <div class="col-4">
        <button (click)="removeFromCart(product)" class="btn btn-default btn-block">-</button>
      </div>
      <div class="col">
        <p class="text-center">
          {{getQuantity()}}
        </p>
      </div>
      <div class="col-4">
        <button (click)="addToCart(product)" class="btn btn-default btn-block">+</button>
      </div>
    </div>
  </div>
</div>